<div class="game-header">
    <img src="img/endemol-logo.png">
    <a  class="button game-detail-backButton-container"  href="#/main/{{game.id}}">        
      <span class="button game-detail-backButton glyphicon glyphicon-circle-arrow-left" aria-hidden="false"></span> 
    </a>
</div>
<div class="game-body container-fluid" >
 <span class="dropdown" dropdown>    
     <button type="button" class="btn btn-primary dropdown-toggle"  dropdown-toggle> Users <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" dropdown-menu>
      <li> 
        <a ng-click="action1()">Action1</a>
      </li>
      <li>
        <a ng-click="action2()">Action2</a>
      </li>
      <li>
        <a ng-click="action3()">Action3</a>
      </li>
      <li>
        <a ng-click="action4()">Action4</a>
      </li>
      <li>
        <a ng-click="action5()">Action5</a>
      </li>
    </ul>
</div>