<div class="container-fluid">

  <div class="row ">
    
    <div class="game-body">
      <!--Body content-->
      <div class="game-header">
        <img src="img/endemol-logo.png">
      </div>
      
      <div ng-controller="CarouselDemoCtrl" id="slides_control">
        <div>
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img class="img-slider" ng-src="{{slide.image}}">              
            </slide>
          </carousel>
        </div>
      </div>

      <div class="game-list">
        <div ng-repeat="game in games | filter:query | orderBy:orderProp"  class="ng-scope col-xs-5 col-md-3 col-lg-2 game-image-container">
            <a href="#/main/{{game.id}}"><img ng-src="{{game.imageUrl}}" class="game-tile-image"></a>
            <div class="game-foot">      
              <a href="#/main/{{game.id}}">        
                <span class="button game-tile-button glyphicon glyphicon-info-sign" aria-hidden="false"></span> 
              </a>
              <div class= "game-tile-title"> {{game.name}} </div>
            </div>
          </div>      
      </div>
    </div>
  </div>
</div>